@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(/static/user_manager/bg.jpg) no-repeat center/cover;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 20px auto;
    display: flex;
    gap: 45px;
    background-color: #fff;
    width: 100%;
    min-width: 900px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
}


.container img {
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}

.container {
    width: 50%;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.form-control input,
.form-control textarea{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
    font-size: 1rem;
}
.form-control input:focus {
    border: 2px solid #59007A;
}
.input-wrapper {
    position: relative;
}
.currency-code {
    position: absolute;
    top: 68%;
    transform: translateY(-50%);
    left: 10px;
}
input.currency{
    padding-left: 25px;
}

.form-control .icon{
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    font-size: 20px;
    color: transparent;
    pointer-events: none;
}

.form-control.success input,
.form-control.success textarea{
    border-color: #29b864dc;
}

.form-control.success .icon{
    color: #28bb65e3;
}

.form-control.error input,
.form-control.error textarea{
    border-color: #e74d3cb0;
}

.form-control.error .icon,
.form-control.error input::placeholder,
.form-control.error textarea::placeholder{
    color: #e74d3cd2;
}

.close-button:hover,
.close-button:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    resize: vertical; 
}
::selection{
    background: #7d2ae8;
    color: #fff;
    }
@media screen and (max-width: 920px) {
    
    .container img{
        display: none;
    }

    .container form{
        width: 100%;
    }

}
@media screen and (max-width: 600px) {
    body {
        padding: 15px 15px;
    }
    .container {
        padding: 30px;
    }
}

.label-status{
    display: flex;   
    gap: 1rem;
    margin-bottom: 5px;
    align-items: center;
}

p.positive{
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #86e49d;
    margin-left: auto;
    min-width: 120px;
    color: #006b21;
}

p.negative{
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #d893a3;
    color: #b30021;
    margin-left: auto;
    min-width: 120px;
    color: #b30021;
}

/* Button styles */
button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #59007A;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #FF9C2E;
}

button.secondary { 
    background-color: #52A7CC;
    transition: background-color 0.3s;
}

button.secondary:hover { 
    background-color: #000000;
}

.button-group {
    display: none;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}


/* h2 styles */
h2{
    text-align: center;
    color: #100629;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2.edit:hover{
    text-decoration: underline;
    cursor: pointer;
}