{% extends 'user_manager/index.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.png' %}">
    <title>Подписание Договора</title>
    <link rel="stylesheet" href="{% static 'user_manager/css/sign_doc.css' %}">
</head>
    <main>
        <div class="container">
            <div class="header-section">
                <h1>Загрузите файлы</h1>
                <p id="header-text">Ознакомьтесь с договором и подпишите его</p>
                <div id="doc-section">
                    <div class="doc">
                        <img src="{% static 'user_manager/Arrow.png'%}" alt="file">
                        <a href="/fill_contract/{{std_id}}/{{numb}}/" download><p><b>Договор_для_подписания.docx</b></p></a>
                    </div>
                </div>
            </div>    
            {% csrf_token %}
            <div class="drop-section">
                <div class="col">
                    <div class="PDF-icon">
                        <img src="{% static 'user_manager/PDF Logo.png'%}" alt="file">
                    </div>
                    <span>Drag & Drop your files here</span>
                    <span style="color: #ffffff80">OR</span>
                    <button class="file-selector">Browse Files</button>
                    <input type="file" name="file" class="file-selector-input" id="fileInput" accept="application/pdf">
                </div>
                <div class="col">
                    <div class="drop-here">Drop Here</div>
                </div>
            </div>
            <div class="list-section">
                <div class="list-title">Загруженные файлы</div>
                <div class="list"></div>
            </div>
            <button id="btnSubmit" type="submit">Отправить</button>
        </div>
    </main>
    <script>
        const staticUrl = "{% static 'user_manager/PDF File.png' %}";
        const arrowLogo = "{% static 'user_manager/Arrow.png'%}";
        const status = "True" === "{{status}}";
        const std_id = "{{std_id}}";
        const numb = "{{numb}}";
    </script>
<script src="{% static 'user_manager/js/sign_doc.js'%}"></script>
{% endblock %}
