{% extends 'HR/index_apply.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'HR/css/apply.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">
    <title>Форма Подачи</title>
</head>

<body>
    <div class="container">
        <img src="{% static 'HR/staff.jpg' %}">
        <form id="mainForm" method="POST" action="{% url 'apply' pos_id=pos_id %}" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Форма Подачи</h2>
            <div class="form-control">
                <label for="lastname">Фамилия</label>
                <input type="text" id="lastname" name="lastname" placeholder="Введите фамилию кандидата" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="firstname">Имя</label>
                <input type="text" id="firstname" name="firstname" placeholder="Введите имя кандидата" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="patronim">Отчество</label>
                <input type="text" id="patronim" name="patronim" placeholder="Заполните или оставьте пустым" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="iin">ИИН</label>
                <input type="tel" id="iin" name="iin" inputmode="numeric" placeholder="ИИН кандидата (12 символов)" maxlength="13" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="phone">Номер Телефона для СМС</label>
                <input type="tel" id="phone" name="phone" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="select-btn">Позиция</label>
                <input type="text" value="{{pos_title}}" disabled>
            </div>

            <div class="form-control">
                <label for="salary">Желаемая Заработная Плата</label>
                <span class="currency-code">₸</span>
                <input type="text" id="salary" name="salary" autocomplete="off">
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="lang">Язык Преподавания</label>
                <div class="radio-options">
                    <div class="radio-option">
                        <input type="radio" id="ru" name="lang" value="Рус" checked>
                        <label for="ru">Русский</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="kk" name="lang" value="Каз">
                        <label for="kk">Казахский</label>
                    </div>
                </div>
                <i class="icon"></i>
            </div>

            <div class="form-control">
                <label for="cv">Резюме</label>
                <div class="file-input">
                    <label for="cv" class="file-selector">📄 Файл</label>
                    <p id="file_name">Резюме.pdf</p>
                </div>
                <input type="file" id="cv" name="cv" autocomplete="off" hidden>
                <i class="icon"></i>
            </div>

            <button type="submit">Подать Заявку</button>
        </form>
    </div>
    <script src="{% static 'HR/js/apply_pos.js' %}"></script>
    <script src="https://unpkg.com/imask"></script>
</body>
{% endblock content %}