{% extends 'HR/index.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список Кандидатов</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'HR/css/home.css' %}">
    <link rel="icon" href="{% static 'HR/favicon.png' %}">
</head>

<body>
    <div class="message-container"></div>

    <main>
        <section class="table__header">
            <p style="font-weight: bold;">Кандидаты</p>

            <input type="hidden" name="grade" id="selectedClassInput">
            <div class="input-group">
                <input type="search" placeholder="Фамилия Имя...">
                <img src="{% static 'HR/search.png' %}" alt="" class="search-icon">
            </div>

            <div class="jobs">
                <a href="/hr/jobs"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
                    <path fill="#59007A" d="M12 8H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h1v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h3l5 4V4zm9.5 4c0 1.71-.96 3.26-2.5 4V8c1.53.75 2.5 2.3 2.5 4"/>
                </svg></a>
                <span class="tooltiptext">Платформа Вакансий</span>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Фамилия </th>
                        <th> Имя </th>
                        <th> Отчество </th>
                        <th> Позиция </th>
                        <th> Статус </th>
                    </tr>
                </thead>
                <tbody id="studentsTableBody">
                </tbody>
            </table>
        </section>
    </main>
    <script>
        const applicants = JSON.parse('{{ applicants|escapejs }}');
        const interviews = JSON.parse('{{ interviews|escapejs }}');
    </script>
    <script src="{% static 'HR/js/home.js' %}"></script>
</body>
{% endblock content %}